<div class="container-fluid">

    <h2 id="fraseServ">Outros Serviços Unifor:</h2>

    <div class="card-columns">
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Eventos</h4>
            </div>
        </div>
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Notícias</h4>
            </div>
        </div>
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Midias Sociais</h4>
            </div>
        </div>
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Processo Seletivo</h4>
            </div>
        </div>
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Feira de Profissões</h4>
            </div>
        </div>
        <div class="card ">
            <div class="card-body text-center ">
                <h4 class=" card-title ">Feira de Profissões</h4>
            </div>
        </div>
    </div>
</div>