.footer {
    background-color: black;
    height: 150px;
    color: white;
}

.navbar-brand {
    margin-left: 16%;
    margin-top: 1.5%;
    width: 144px;
}

span {
    font-weight: 500;
    margin-left: 55%;
    color: white;
}