.navbar {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.navbar-brand {
    margin-left: 15%;
    width: 144px;
}

#entrar {
    color: white;
    margin-right: 40px;
}

#playlists {
    color: white;
    margin-right: 40px;
}

#ajuda {
    color: white;
    margin-right: 280px;
}