<nav class="navbar fixed-top">
    <a class="navbar-brand" routerLink="/home">
        <img id="banner-logo" width="100%" alt="Spotify Logo" src="assets\images\spotify_logo.png" />
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a id="entrar" routerLink="/entrar">Entrar</a>
        </li>
        <li class="nav-item">
            <a id="playlists" routerLink="/playlists">Playlists</a>
        </li>
        <li class="nav-item">
            <a id="ajuda" routerLink="/ajuda">Ajuda</a>
        </li>
    </ul>
</nav>