<div id="background">
    <h1 id="titulo">Perguntas Frequentes</h1>

    <div id="faq">
        <h3>Ajuda com a conta</h3>

        <button class="accordion">Não me lembro das minhas informações de login</button>
        <div class="panel">
            <p>Se você não se lembrar da sua senha, use a página de redefinição de senha. Se não se lembrar do seu e-mail/nome de usuário, acesse a página de redefinição de senha e insira os endereços de e-mail que você pode ter usado para criar uma conta.
                Quando o endereço certo for inserido, aparecerá uma mensagem dizendo que o e-mail de redefinição de senha foi enviado. Observação: existem várias maneiras de criar uma conta; por exemplo, usando um e-mail, um número de telefone, o Facebook
                ou a Apple. Tente fazer login usando essas opções para localizar a sua conta.</p>
        </div>

        <button class="accordion">Ajuda com o login através do Facebook</button>
        <div class="panel">
            <p>Quando você se inscreve no Spotify através do Facebook ou vincula a sua conta ao Facebook, é possível fazer login no Spotify com a sua conta do Facebook. Também é possível exibir a foto e o nome do seu perfil do Facebook no aplicativo e encontrar
                os seus amigos do Facebook no Spotify com facilidade.</p>
        </div>

        <button class="accordion">Não consigo redefinir a senha</button>
        <div class="panel">
            <p>Você precisa ter acesso ao endereço de e-mail cadastrado na sua conta do Spotify para abrir o link de redefinição de senha que nós enviamos. Caso você não tenha acesso, estas são algumas opções: Recupere o acesso ao endereço de e-mail, se
                possível Entre em contato conosco para que possamos atualizar o endereço de e-mail associado à sua conta Crie uma nova conta e comece do zero</p>
        </div>

        <h3>Ajuda com pagamentos</h3>

        <button class="accordion">Ajuda com o PayPal</button>
        <div class="panel">
            <p>Para garantir que um pagamento feito através do PayPal funcione: Verifique se o país registrado na sua conta do PayPal é o mesmo que está definido na sua conta do Spotify. Confira se a sua conta do PayPal está verificada. Veja mais informações
                no site de ajuda do PayPal. Não funcionou? Espere alguns dias e tente de novo ou experimente usar uma janela privada/anônima no seu navegador (pode ter havido um problema temporário de conexão). Tente usar outra forma de pagamento.</p>
        </div>

        <button class="accordion">Visualizar seus recibos</button>
        <div class="panel">
            <p>Gosta de manter um controle sobre as suas despesas? Com o Spotify, é muito fácil! Acesse a página da sua conta no nosso site. Clique em Recibos no menu à esquerda. Clique em VER ao lado de uma transação para visualizar mais detalhes. Um recibo
                também é enviado para o endereço de e-mail registrado na sua conta quando você: Inicia uma oferta de teste. Realiza o primeiro pagamento por uma nova assinatura. Compra um e-card.</p>
        </div>

        <h3>Opções de assinatura</h3>

        <button class="accordion">Premium</button>
        <div class="panel">
            <p>Com Premium, ouvir música no Spotify fica ainda melhor. Acesso ilimitado a mais de 50 milhões de músicas com streaming de alta qualidade. Reprodução sem conexão com a Internet. Possibilidade de levar suas músicas em viagens internacionais,
                sem restrições. Música sem interrupção de anúncios. Nenhum limite para pular de faixa.</p>
        </div>

        <button class="accordion">Criar ou entrar em um plano Família</button>
        <div class="panel">
            <p>O Premium Família é um plano com desconto para até seis familiares que moram na mesma casa. Como cada membro do plano usa sua própria conta, não é necessário compartilhar uma senha e todo mundo pode manter suas próprias músicas e playlists
                salvas
            </p>
            <img src="assets\images\family_visual.png" alt="image">
        </div>
    </div>
</div>