img {
    width: 12%;
    height: 12%;
}

.cards {
    margin-top: 8%;
    width: 100%;
    height: fit-content;
}

#fraseServ {
    text-align: center;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.card {
    background-color: transparent;
    width: 100%;
    border-color: transparent;
}

.card-title {
    text-align: center;
    color: white;
}

#playButtom {
    width: 100%;
}

#nome {
    width: 100%;
}

#album {
    width: 100%;
}

#artista {
    width: 100%;
}

#duration {
    width: 100%;
}

hr {
    margin: 5px;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}