.container-fluid {
    margin-top: 70.4px;
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.966);
}

img,
#button {
    width: 12%;
    height: 12%;
}

.cards {
    width: 100%;
    height: fit-content;
}

#fraseServ {
    text-align: center;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.card {
    background-color: transparent;
    width: 100%;
    border-color: transparent;
}

.active,
.elementos:hover {
    background-color: #c8c8c857;
}

.d-flex {
    padding-left: 110px;
}

.card-title {
    text-align: center;
    color: white;
}

#playButtom {
    width: 45%;
    height: 45%;
    margin: 0px;
}

#nome {
    width: 100%;
}

#album {
    width: 50%;
}

#artista {
    width: 50%;
}

#duration {
    width: 50%;
}

hr {
    margin: 5px;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #cccccc, transparent);
}