<div class="container-fluid">
    <div id="header">
        <img id="coverBackground" src="{{mock.playlists[castIndex(service.index)].capa}}" alt="capa">
    </div>

    <div class="cards">
        <h2 id="fraseServ">Musicas</h2>

        <div class="card">
            <div class="d-flex">
                <div id="playButtom" class="p-2">
                    <h4 class="playButtom ">#</h4>
                </div>

                <div id="nome" class="p-2 ">
                    <h4 class="card-title ">Título</h4>
                </div>

                <div id="album " class="p-2 ">
                    <h4 class="card-title ">Álbum</h4>
                </div>

                <div id="artista " class="p-2 ">
                    <h4 class="card-title ">Artista</h4>
                </div>

                <div id="duration " class="p-2 ">
                    <h4 class="card-title ">Duraçãoo</h4>
                </div>
            </div>
        </div>

        <hr>

        <div class="card " *ngFor="let musica of mock.playlists[castIndex(service.index)].musicas">
            <div class="d-flex ">
                <div id="playButtom " class="p-2 ">
                    <button class="playButtom ">Play</button>
                </div>

                <div id="nome " class="p-2 ">
                    <h4 class="card-title ">{{musica.nome}}</h4>
                </div>

                <div id="album " class="p-2 ">
                    <h4 class="card-title ">{{musica.album}}</h4>
                </div>

                <div id="artista " class="p-2 ">
                    <h4 class="card-title ">{{musica.artista}}</h4>
                </div>

                <div id="duration " class="p-2 justify-content-end ">
                    <h4 class="card-title ">{{musica.duration}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>