.player-div {
    position: relative;
    background: midnightblue;
    height: 1210px;
}

#span1 {
    color: #1ED760;
    margin-left: 17%;
    font: Bold 55px Sans-serif;
}

#video {
    width: 100%;
    margin-bottom: 1.8%;
}