.player-div {
    position: relative;
    background: #2d46b9;
    height: 95%;
    padding-bottom: 2.5rem;
}

#span1 {
    color: #1ED760;
    margin-left: 35%;
    font-size: 50px;
}

#video {
    width: 100%;
}