<div id="containerTudo" class="container-fluid">
    <div id="container" class="row ng-scope">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="pv-lg">
                        <img class="center-block img-responsive img-circle img-thumbnail thumb96" src="assets/images/icons/user.jpg" alt="playlist">
                    </div>
                    <h3 id="username" class="m0 text-bold"></h3>
                    <div class="mv-lg">
                        <p>Descrição pro filho da puta</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" (click)="logout()">Fazer Logout</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden-xs hidden-sm">
                <div class="panel-heading">
                    <div class="panel-title text-center">Minhas Playlists</div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object img-circle img-thumbnail thumb48" src="assets/images/icons/user.jpg" alt="playlist">
                            </a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Playlist 1</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="assets/images/icons/user.jpg" alt="playlist"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Playlist 2</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="assets/images/icons/user.jpg" alt="playlist"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Playlist 3</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="assets/images/icons/user.jpg" alt="playlist"></a>
                        </div>
                        <div class="media-body pt-sm">
                            <div class="text-bold">Playlist 4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="h4 text-center">Informações do Usuário</div>
                    <div class="row pv-lg">
                        <div class="col-lg-1"></div>
                        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
                            <div class="form-row">
                                <div id="nome" class="form-group col-md-4">
                                    <label for="inputName">Nome:</label>
                                    <input id="inputName" formControlName="nome" type="text" class="form-control" placeholder="Nome" [class.is-invalid]="nome.invalid && nome.touched">
                                    <small id="nameHelp" class="form-text text-muted">Digite seu nome.</small>
                                    <div *ngIf="nome.invalid && nome.touched">
                                        <small *ngIf="nome.errors?.required" class="text-danger">É necessário informar seu nome.</small>
                                    </div>
                                </div>
                                <div id="sobrenome" class="form-group col-md-4">
                                    <label for="inputSobrenome">Sobrenome:</label>
                                    <input id="inputSobrenome" formControlName="sobrenome" type="text" class="form-control" placeholder="Sobrenome" [class.is-invalid]="sobrenome.invalid && sobrenome.touched">
                                    <small id="sobrenomeHelp" class="form-text text-muted">Digite seu sobrenome.</small>
                                    <div *ngIf="sobrenome.invalid && sobrenome.touched">
                                        <small *ngIf="sobrenome.errors?.required" class="text-danger">É necessário informar
                                                seu sobrenome.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Endereço de email:</label>
                                <input id="inputEmail" formControlName="email" [class.is-invalid]="email.invalid && email.touched" type=" email" class="form-control" aria-describedby="emailHelp" placeholder="Seu email">
                                <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                                <div *ngIf="email.invalid && email.touched">
                                    <small *ngIf="email.errors?.required" class="text-danger">É necessário informar um email.</small>
                                    <small *ngIf="email.errors?.pattern" class="text-danger">O email deve ser válido.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputConfirmEmail">Confirmar email:</label>
                                <input id="inputConfirmEmail" formControlName="confirmEmail" type="email" [class.is-invalid]="confirmEmail.errors?.emailMatchValidationError || confirmEmail.invalid && confirmEmail.touched" class="form-control" aria-describedby="emailHelp" placeholder="Seu email">
                                <small id="confirmEmailHelp" class="form-text text-muted">Por favor, confirme seu email.</small>

                                <div *ngIf="(confirmEmail.invalid && confirmEmail.touched) || confirmEmail.dirty">
                                    <small *ngIf="confirmEmail.errors?.required" class="text-danger">É necessário confirmar seu email.<br></small>
                                    <small *ngIf="confirmEmail.errors?.pattern" class="text-danger">O email de confirmação deve ser válido.</small>
                                    <small *ngIf="confirmEmail.errors?.emailMatchValidationError" class="text-danger">Os emails não coincidem!</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputpassword">Senha:</label>
                                <input id="inputpassword" formControlName="senha" [class.is-invalid]="senha.invalid && senha.touched" type="password" class="form-control" placeholder="Senha" minlength="6">
                                <small id="passwordHelp" class="form-text text-muted">A senha deve ter no minimo seis digitos.</small>
                                <div *ngIf="senha.invalid && senha.touched">
                                    <small *ngIf="senha.errors?.required" class="text-danger">É necessário informar uma senha</small>
                                    <small *ngIf="senha.errors?.minlength" class="text-danger">A senha deve ter no minimo seis dígitos</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputConfirmPassword">Confirmar Senha:</label>
                                <input id="inputConfirmPassword" formControlName="confirmSenha" [class.is-invalid]="confirmSenha.errors?.senhaMatchValidationError || confirmSenha.invalid && confirmSenha.touched" type="password" class="form-control" placeholder="Senha" minlength="6">
                                <div *ngIf="(confirmSenha.invalid && confirmSenha.touched) || confirmSenha.dirty">
                                    <small *ngIf="confirmSenha.errors?.required" class="text-danger">É necessário confirmar sua senha</small>
                                    <small *ngIf="confirmSenha.errors?.senhaMatchValidationError" class="text-danger">As senhas não coincidem!</small>
                                </div>
                            </div>
                            <div>
                                <p id="titulo">Data de Nascimento:</p>
                            </div>
                            <div id="data" class="form-row">
                                <div id="dia" class="form-group col-md-3">
                                    <label for="inputDia">Dia</label>
                                    <input type="number" class="form-control" id="inputDia" formControlName="dia" [class.is-invalid]="dia.invalid && dia.touched || dia.value > 31" maxlength="2">
                                </div>
                                <div id="mes" class="form-group col-md-4">
                                    <label for="inputMes">Mês</label>
                                    <select id="inputMes" class="custom-select" formControlName="mes" [class.is-invalid]="mes.invalid && mes.touched">
                                            <option selected>Escolher...</option>
                                            <option>Janeiro</option>
                                            <option>Fevereiro</option>
                                            <option>Março</option>
                                            <option>Abril</option>
                                            <option>Maio</option>
                                            <option>Junho</option>
                                            <option>Julho</option>
                                            <option>Agosto</option>
                                            <option>Setembro</option>
                                            <option>Outubro</option>
                                            <option>Novembro</option>
                                            <option>Dezembro</option>
                                        </select>
                                </div>
                                <div id="ano" class="form-group col-md-4">
                                    <label for="inputAno">Ano</label>
                                    <input type="number" class="form-control" id="inputAno" formControlName="ano" [class.is-invalid]="(ano.invalid && ano.touched || ano.value >= (Data | date: 'yyyy')) " minlength="4" maxlength="4">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputSexo">Sexo</label>
                                    <select id="inputSexo" class="custom-select" formControlName="sexo" [class.is-invalid]="sexo.invalid && sexo.touched">
                                            <option selected>Escolher...</option>
                                            <option>Masculino</option>
                                            <option>Feminino</option>
                                            <option>Outro</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <button id="botao" type="submit" class="btn btn-primary" [disabled]="form.invalid">Atualizar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>